on: push
name: cibuild

permissions:
  contents: read

jobs:
  build:
    name: Test
    strategy:
      matrix:
        ruby: [2.6, 2.7]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@80740b3b13bf9857e28854481ca95a84e78a2bdf # v1.284.0
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: script/cibuild
        run: script/cibuild
