on: push
name: cibuild

permissions:
  contents: read

jobs:
  build:
    name: Test
    strategy:
      matrix:
        ruby: [2.6, 2.7]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: ruby/setup-ruby@ae195bbe749a7cef685ac729197124a48305c1cb # v1.276.0
        with:
          ruby-version: ${{ matrix.ruby }}
      - name: script/cibuild
        run: script/cibuild
