name: Publish Gem

on:
  release:
    types: [released]

permissions:
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup Ruby
        uses: ruby/setup-ruby@ac793fdd38cc468a4dd57246fa9d0e868aba9085 # v1.270.0
        with:
          ruby-version: "3.3"
      - name: Build gem
        run: |
          gem build jekyll-commonmark-ghpages.gemspec
      - name: Publish gem
        env:
          GEM_HOST_API_KEY: ${{ secrets.PAGES_GEM_PUBLISH }}
        run: |
          gem push jekyll-commonmark-ghpages-*.gem